doctype html
  
head
    
	title #{title} - Welcome
	link(rel='stylesheet', href='css/bootstrap.css')
  
body
    
	header
     
	#content
	.jumbotron
	h1 hello world 
     
	h1 My Site
    
	
	.container
      
	.main-content
       
	block content
      
	.sidebar
        
	block sidebar
    
footer
      
	h1 Running on node with Express, Jade and Stylus